// Color Pallet

$pink: #ffb3b3;

@mixin bgcollight($val: 0) {
  .bg-testcol {
    background-color: darken($pink, $val);
  }
}

@include bgcollight(10);




/* Grey Scale */
@each $key, $val in $grey-scale {
  .gs-#{$key} {
    color: $val;
  }
}

// /* Colors  */
// @each $key, $val in $colors {
//   .clr-#{$key} {
//     color: $val;
//   }
// }

// /* Background Colors  */
// @each $key, $val in $colors {
//   .bg-#{$key} {
//     background-color: $val;
//   }

//   .bg-h-#{$key}:hover {
//     background-color: $val;
//   }
// }
