// Yoo utils
.yh-100{
  height: 100vh;
}









// Yoo Hero Section
.yoohero {
  background-image: url("../../Theme/asset/fillers/donatbg.png");
  background-color: var(--clr-pri);
  background-position: center;
  background-size: contain;
  min-height: 100vh;

  &_3d {
    min-height: 80vh;
  }

  &_btn {
    position: relative;
    // background-image: url('../../Theme/asset/fillers/milk.svg');
    // background-size: 25rem;
    // background-position-x: -3rem;
    // background-repeat: no-repeat;
  }

  &_btn::after {
    content: "";
    background-image: url("../../Theme/asset/fillers/milk.svg");
    background-size: 38rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 126%;
    position: absolute;
    bottom: 0%;
    left: -5rem;
    transform: rotate(0deg);
  }

  &_text {
    font-size: 1.3rem;
    padding-block: 0.8rem;
    font-weight: 600;
    color: var(--clr-ter);
  }

  &_followbtn {
    position: relative;
    z-index: 100;
    width: 25rem;
    cursor: pointer;
  }

  /*1400px */
  @include xxl {
  }

  /*1200px */
  @include xl {
  }

  /*960px */
  @include lg {
    &_btn::after {
      background-size: 35rem;
    }
  }

  /*820px */
  @include xmd {
    &_btn::after {
      background-size: 32rem;
    }
  }

  /*768px */
  @include md {
    &_followbtn {
      width: 20rem;
    }

    &_btn::after {
      background-size: 30rem;
    }
  }

  /*576px */
  @include sm {
    &_btn::after {
      background-size: 28rem;
    }
  }

  /*414px */
  @include xs {
    &_btn::after {
      background-size: 25rem;
    }
  }

  /*375px */
  @include xxs {
    &_btn::after {
      background-size: 20rem;
    }
  }
}


// Yoopopup
.yoopopup {
  position: fixed;
  z-index: 300;
  background-color: #00000074;
  width: 100%;
  height: 100vh;


  &_facts{
    background-color: red;
    border: 5px solid #000;
    margin-bottom: 1rem;

    &-head{
      background-color: #fff;
      border-bottom:  5px solid #000;
      

      h2{

        font-size: 2rem;
        font-weight: 900;
        color: #000;

      }
    }

    &-points{
      color: #fff;
     

      li{
        font-size: 1.6rem;
        word-spacing: .4rem;
        margin-bottom: .6rem;
        font-weight: 800;
      }
    }
  }


  &_form{
    background-color: red;

  }

  &_btn{
    border: 3px solid #000;
    background: #fff;
    border-radius: 25rem;
    font-weight: 800;
    
  }
}
