// Yoo utils
.yh-100 {
  // height: 100vh;
}

.closeico {
  cursor: pointer;
}

.enterarrow {
  font-size: 1.5rem;
  padding: 0.5rem 0rem 0.5rem 0.3rem;
  font-weight: 800;
}

// Yoo Hero Section
.yoohero {
  background-image: url("../../Theme/asset/fillers/donatbg.png");
  background-color: var(--clr-pri);
  background-position: center;
  background-size: 140rem;
  // background-size: cover;
  min-height: 100vh;

  &_btn {
    position: relative;
  }

  &_btn::after {
    content: "";
    // background-image: url("../../Theme/asset/fillers/milk.svg");
    background-size: 42rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 126%;
    position: absolute;
    bottom: -95%;
    left: -10rem;
    transform: rotate(10deg);
  }

  &_downarrow {
    width: 2rem;
  }

  &_text {
    font-size: 1.3rem;
    padding-block: 0.8rem;
    font-weight: 600;
    color: var(--clr-ter);
  }

  &_followbtn {
    position: relative;
    z-index: 100;
    width: 20rem;
    cursor: pointer;
  }

  &_mob_pack {
    margin-top: -22rem;
    // min-height: 58vh;
  }

  &_munchypackcover {
    width: 32%;
  }

  /*1400px */

  @include breakpoint_minwidth(1400px) {
    &_munchypackcover {
      width: 35%;
    }
  }

  /*1200px */
  @include xl {
    &_munchypackcover {
      width: 33%;
    }
  }

  /*960px */
  @include lg {
    // &_munchypackcover{
    //   width: 35%;
    // }

    // &_mob_pack {
    //   margin-top: -15rem;
    //   // min-height: 58vh;
    // }

    &_mob_pack {
      margin-top: -2rem;
      // min-height: 58vh;
    }

    &_munchypackcover {
      width: 75%;
    }

    &_btn::after {
      background-size: 48rem;
    }

    &_followbtn {
      width: 20rem;
    }
  }

  /*820px */
  @include xmd {
    &_mob_pack {
      margin-top: -2rem;
      // min-height: 58vh;
    }

    &_munchypackcover {
      width: 75%;
    }

    &_btn::after {
      // background-size: 32rem;
    }
  }

  /*768px */
  @include md {
    &_mob_pack {
      margin-top: -2rem;
      // min-height: 58vh;
    }

    &_munchypackcover {
      width: 75%;
    }

    &_followbtn {
      width: 20rem;
    }

    &_btn::after {
      // background-size: 30rem;
    }
  }

  /*576px */
  @include sm {
    background-size: 130rem;
    background-position-x: -1rem;
    background-position-y: 0rem;
    background-repeat: no-repeat;

    &_mob_pack {
      margin-top: -2rem;
      padding: 4rem 0;
      // min-height: 58vh;
    }

    &_munchypackcover {
      width: 95%;
    }

    &_btn {
      margin-top: -2rem;
    }

    &_btn::after {
      background-image: url("../../Theme/asset/fillers/milk.svg");
      background-size: 38rem;
      height: 126%;
      bottom: -65%;
      left: -8rem;
    }
  }

  /*414px */
  @include xs {
    &_btn::after {
      background-size: 28rem;
    }
  }

  /*375px */
  @include xxs {
    &_btn::after {
      background-size: 20rem;
    }
  }
}

// Yoopopup
.yoopopup {
  position: fixed;
  z-index: 300;
  background-color: #00000074;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100vh;

  &_facts {
    background-color: red;
    border: 5px solid #000;
    margin-top: 4rem;
    margin-bottom: 1rem;

    &-head {
      background-color: #fff;
      border-bottom: 5px solid #000;

      h2 {
        font-size: 2rem;
        font-weight: 900;
        color: #000;
      }
    }

    &-points {
      color: #fff;

      li {
        font-size: 1.6rem;
        word-spacing: 0.4rem;
        margin-bottom: 0.6rem;
        font-weight: 800;
      }
    }
  }

  &_form {
    background-color: red;
  }

  &_error {
    font-size: 1.5rem;
    color: #fff;
  }

  &_btn {
    border: 3px solid #000;
    background: #fff;
    border-radius: 25rem;
    font-weight: 800;
  }

  /*576px */
  @include sm {
    &_facts {
      margin-top: 5rem;
    }
  }
}
