.loading {
  background-color: var(--clr-pri);
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .leftmove {
    @include marqueText(
      "../../Theme/asset/fillers/dropmq.svg",
      marqueeleft,
      150rem
    );
  }
}
