.yoogoodluck {
  min-height: 100vh;
  background-color: var(--clr-pri);

  .leftmove {
    @include marqueText(
      "../../Theme/asset/fillers/marquee3.svg",
      marqueeleft,
      150rem
    );
  }

  &_logo {
    width: 18rem;
    margin-bottom: 1rem;
  }

  &_thankyou {
    padding: 16rem 0;
  }

  &_midtext {
    p {
      font-size: 1.6rem;
      margin-bottom: 0;
      font-weight: 800;
      color: red;
    }
  }

  &_moretext {
    p {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}
